body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #161b22;
  text-align: justify;
  text-justify: inter-word;
}

.container {
  margin: 0 auto;
  max-width: 60%;
}

nav {
  background-color: #24292e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #ddd;
  color: #24292e;
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.section h2 {
  margin-top: 0;
}

h2 {
  text-align: center;
}

.section h3 {
  margin-top: 0;
}

.section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.section p {
  margin-bottom: 0;
}

iframe {
  border: none;
  width: 50%;
  height: 280px;
}

img {
  width: 80%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  clip-path: circle(30%);
  object-fit: cover;
}


.portfolio-section {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.portfolio-item:nth-child(odd),
.portfolio-item:nth-child(even) {
background-color: #24292e;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-item:nth-child(2),
.portfolio-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item h3 {
  margin-top: 0;
}

.portfolio-item p {
  margin-bottom: 0;
}

iframe {
  border: none;
  width: 100%;
  height: 280px;
}

.intro-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('introbg.jpg');
  background-size: cover;
  filter: blur(5px);
}

.section {
  position: relative;
}

#intro {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#intro img {
  position: absolute;
  bottom: 60px;
}

#intro h1 {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  font-size: 40px;
}

#intro p {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}